{% extends "arkestra/generic_list_item.html" %}
{% load typogrify_tags %}

{% block item_title %}
    {% if "details" in lister.item_format and item.is_uninformative %}
        <span class="title">{{ item|typogrify }}</span>
    {% else %}
		{% if item.external_url %}
			<a  class="external title"
                href="{{ item.get_absolute_url }}">
                {{ item|typogrify }}
            </a>
            <span class="site-name">
                {{ item.external_url.external_site }}
            </span>
		   {% else %}
			<a
                class = "title"
                href="{{ item.get_absolute_url }}">
                {{item|typogrify}}
            </a>
		{% endif %}
        {% if item.expanded_title %}<span class="study-expanded-title">{{ item.expanded_title }}</span>{% endif %}
	{% endif %}
{% endblock item_title %}
